
.edit-form-wrapper {
    background-color: rgb(2, 37, 33);
    color: aliceblue;
    opacity: 0.9;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    display: none;

}
.edit-block {
    width: 80%;
    padding: 10px;
    /* margin: 40px auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-block-caption {
    text-align: left;
    /* text-indent: 15px; */
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.edit-input-wrapper {
    text-align: left;
    /* font-size: larger; */
}

.edit-form-save-button {
    font-size: large;
    background-color: rgb(11, 92, 88);
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgb(122 248 248 / 20%);
    padding: 8px 10px;
    margin: 8px 15px;
    border: none;
    cursor: pointer;
    max-width: 130px;
    min-width: 89px;
}

#dateOfBirth, select, .name-input {
    width: 80%;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
